<h1>Add a Book</h1>

<form action="/books" method="post">
  <label for="">Book Title: </label>
  <input type="text" name="title">
  <label for="">Book Author: </label>
  <input type="text" name="author">
  <input type="submit" value="Create Book">
</form>
