<span id="home-heading">
  <h1>The Reading List</h1>
</span>

<div class="site-features">
  <p>Here you can: </p>
  <ul>
    <li>create books</li>
    <li>add them to your reading list</li>
    <li>edit your books</li>
    <li>delete books from your list</li>
  </ul>
</div>
