<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sinatra Reading List App</title>
</head>
<body>
  <nav id="layout-nav-bar">
    <a href="/">Home</a>
    <a href="/users">Your Page</a>
    <a href="/login">Login</a>
    <a href="/logout">Logout</a>
    <a href="/signup">Signup</a>
  </nav>

<span id="flash"><p><%=flash[:notice] if flash.has?(:notice)%></p></span>


  <%= yield %>
</body>
</html>
